body {
    margin: 0px 50px 0px 50px;
    padding: 0;
    font-family: Arial, sans-serif;
}

header, nav, footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #686d99;
    color: white;
    padding: 10px 20px;
}

.header-logo {
    display: flex;
    font-size: 15px;
    font-weight: bold;
    /* padding: 20px 0 0 0; */
}

.header-menu a {
   color:aliceblue;
   display: none;
   text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

nav a:hover {
    color: lightgray;
}


.sticky {
    position: fixed;
    top: 0px;
    width: 90%;
    
  }

main {
    min-height: 80vh;
    padding: 20px;
    background-color: #f5f5f5;
    margin-top: 100px;
}

@media (max-width: 768px) {
    header, nav, ul, li {
        flex-direction: column;
        align-items: center;
        
    }

    nav ul{
        list-style: none;
        display: none;
        gap: 20px;
        padding: 0;
    }

    .header-menu a {
        color:aliceblue;
        display: block;
     }

    .arrow_down {
        margin-left: 15px;
        border: solid rgb(236, 227, 227);
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding:9px;
        transform: rotate(45deg);
        cursor: pointer; 
    }
}

.register-team {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
    padding: 10px 20px;
}


.swatch {
    display: inline-block;
            width: 18px;
            height: 18px;
        
           
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
    
}

.register {
    width: auto;
    max-width: 500px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1)
}

.login-button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
}

.text-input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}