<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>My project</title>
</head>
<body>
    <header>
        <div class="header-logo">
            <h1>Python project</h1>
            </div>
        <div class="header-menu">
            <p><a href="#">MENU</a></p>
            <p><i class="arrow_down"></i></p>
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Navigation 1</a></li>
                <li><a href="#">Navigation 2</a></li>
                <li><a href="#">Navigation 3</a></li>
            </ul>
        </nav>
    </header>
    <main></main>
</body>
</html>
