<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style.css">
    <script src="/static/script/script.js"></script>
    <title>My project</title>

    <style>
        {% if team_id %}
        .team-color {
            background-color: {{ team_id.team_color }};
        {% endif %}
        }

   
    </style>
</head>
<body>
    <div class="header">
        <h1>5 Aside Leagues</h1>
        <div class="mobile-menu">&#9776;</div>
        <ul class="menu">
            <li class="menu-line">____________________________</li>
            </li>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('fixtures') }}">Fixtures</a></li>
            <li><a href="{{ url_for('results') }}">Results</a></li>
            <li><a href="{{ url_for('table') }}">Table</a></li>
            {% if 'username' in session %}
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
            <li></li>
            {% else %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="{{ url_for('register') }}">Register Team</a></li>
            <li></li>
            {% endif %}
        </ul>
    </div>
    <div class="username">

        {% if 'username' in session %}
        <h2>Welcome: {{ session['username'] }}</h2>
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}

    <footer>
        <div class="footer-logo">
            <h1>5 Aside</h1>
        </div>

        <div class="footer-social">
            <p>Follow us</p>
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Twitter</p>
        </div>
        <div class="footer-copyright">
            <p>Copyright &copy; 2023</p>
            <p>All rights reserved</p>
        </div>
    </footer>
</body>

</html>