<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/script.js"></script>
    <title>My project</title>

    <style>
        {% if team_id %}
        .team-color {
            background-color: {{ team_id.team_color }};
        {% endif %}
        }

   
    </style>
</head>
<body>
    <header class="sticky">
        <div class="header-logo">
            <h1>5 Aside Leagues</h1>
            </div>
        <div class="header-menu">
            <p><a href="#">MENU</a></p>
            <p><i class="arrow_down"></i></p>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('fixtures') }}">Fixtures</a></li>
                <li><a href="{{ url_for('results') }}">Results</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register Team</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="footer-logo">
            <h1>5 Aside</h1>  
        </div>
       
        <div class="footer-social">
            <p>Follow us</p>
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Twitter</p>
        </div>
        <div class="footer-copyright">
            <p>Copyright &copy; 2023</p>
            <p>All rights reserved</p> 
        </div>
        
    </footer>
</body>
</html>
