{% extends "base.html" %}

{% block content %}
<div class="container">
        <div class="row">
            <h4>This is a title</h4>
            <p>This is a paragraph</p>
            <table>
                <caption><h2>Registered Teams</h2></caption>
                <tr>
                    <th></th>
                    <th>Team Name</th>
                    <th>Team Colour</th>
                    
                </tr>
                {% for team in allteams %}
                <tr>
                    <td>{{team.team_no}}</td>
                    <td>{{team.team_name}}</td>
                    <td class="swatch" style="background-color: {{team.team_color}};"></td>
                </tr>
                {% endfor %}
          
            </table>
        </div>           
    </div>
{% endblock %}