{% extends "base.html" %}

{% block content %}
<main>


<h1 class="center">Login</h1>
{% if register_error %}
        <div class="error center">{{ register_error }}</div>
{% endif %}
{% if login_error %}
        <div><span class="error center">{{ login_error }}<a href="{{ url_for('register') }}">Here</a></span></div>
{% endif %}
{% if submit_score_login_error %}
        <div class="error center">{{ submit_score_login_error }}</div>
{% endif %}
<form class="register" method="post" action="/login/">
    <label for="username">Enter Your Username:</label>
    <input class="text-input" type="text" id="username" name="username"><br><br>
    <input class="login-button" type="submit" value="Login">
</form>
</main>

{% endblock %}