{% extends "base.html" %}

{% block content %}
<main>


<h1 class="center">Login</h1>
{% if error_message %}
        <div class="error center">{{ error_message }}</div>
{% endif %}
{% if error_message_1 %}
        <div><span class="error center">{{ error_message_1 }}<a href="{{ url_for('register') }}">Here</a></span></div>
{% endif %}
<form class="register" method="post" action="/login/">
    <label for="username">Enter Your Username:</label>
    <input class="text-input" type="text" id="username" name="username"><br><br>
    <input class="login-button" type="submit" value="Login">
</form>
</main>

{% endblock %}