{% extends "base.html" %}

{% block content %}
<main>
    <h1 class="center white">League Table</h1>
    <div class="center">
    <table id="league-table" >
        <tr>
        <th class="league-table-head">#</th>
        <th class="league-table-head">Team</th>
        <th class="league-table-head">Pl</th>
        <th class="league-table-head">W</th>
        <th class="league-table-head">L</th>
        <th class="league-table-head">D</th>
        <th class="league-table-head">GF</th>
        <th class="league-table-head">GA</th>
        <th class="league-table-head">GD</th>
        <th class="league-table-head">PTS</th>
        </tr>
        {%for team in sorted_table%}
        <tr>
        <td>{{ loop.index }}</td>
        <td>{{ team.team_name }}</td>
        <td>{{ team.played }}</td>
        <td>{{ team.wins }}</td>
        <td>{{ team.losses }}</td>
        <td>{{ team.draws }}</td>
        <td>{{ team.goals_for }}</td>
        <td>{{ team.goals_against }}</td>
        <td>{{ team.goal_difference }}</td>
        <td>{{ team.points }}</td>
        </tr>
        {%endfor%}
    </table>
    </div>
</main>




{% endblock %}