{% extends "base.html" %}

{% block content %}
<main>
    <h1 class="center">League Table</h1>
    
    
    <div class="center">
    <table id="league-table" >
        <tr>
        <th class=>#</th>
        <th class=>Team</th>
        <th>Pl</th>
        <th>W</th>
        <th>L</th>
        <th>D</th>
        <th>GF</th>
        <th>GA</th>
        <th>GD</th>
        <th>PTS</th>
        </tr>
        {%for team in sorted_table%}
        <tr>
        <td>{{ loop.index }}</td>
        <td>{{ team.team_name }}</td>
        <td>{{ team.played }}</td>
        <td>{{ team.wins }}</td>
        <td>{{ team.losses }}</td>
        <td>{{ team.draws }}</td>
        <td>{{ team.goals_for }}</td>
        <td>{{ team.goals_against }}</td>
        <td>{{ team.goal_difference }}</td>
        <td>{{ team.points }}</td>
        </tr>
        {%endfor%}
    </table>
    </div>
</main>




{% endblock %}